.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: lightblue;
}

table {
    border: 1px solid black;
}

td {
    height: 50px;
    width: 50px;
}

.brown {
    background-color: brown;
}

.yellow {
    background-color: rgb(250, 221, 56);
}